//style.css
caption {
    text-align: center;
    padding: 40;
    caption-side: top;
}

table {
     letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 7px 5px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(144, 238, 144);
}

tr:nth-child(odd) td {
    background-color: rgb(255, 192, 203);
}

 tr:nth-child(tfoot) td {
     background-color: rgb(235, 235, 235);
}

div.outer-content { 
    background-color: rgb(255,192,203);
    width:0.75
    padding:20px;
}

div.inner-content { 
    background-color: rgb(176,224,230);
    width:0.75;
    padding:20px;
    text-align: center;
}
