<h1> GET Request Received. </h1>
    <h2>For the Get Form, you entered:</h2>
    <ul id="getF">
      {{#each getData}}
        <li><span>Name: {{this.name}}</span></li>
        <li><span>Number: {{this.value}}</span></li>
      {{/each}}
    </ul>